.env
__pycache__/
data/
!src/data/
!config/**/data/
*.safetensors
*.ckpt
*.pt
*.bin
*.log
*.txt
*.out
*.err
.venv/
unsloth_compiled_cache/
wandb/
checkpoints/
!config_abci/**/data/
!config_abci/**/wandb/
!config_abci_ablation/**/data/
!config_abci_ablation/**/wandb/
